<h1>New</h1>
<form class="w3-form">
	<label class='w3-label w3-text-blue-grey'>Name:</label>
	 <input class="w3-input" type="text" ng-model='friend.name'>
	<label class='w3-label w3-text-blue-grey'>Age:</label>
	 <input class="w3-input" type="number" ng-model="friend.age">
	<button class="w3-btn w3-hover-blue-grey w3-light-grey w3-margin-top" ng-click='create()'>Create!</button>
</form>
<a class="w3-btn w3-hover-light-grey w3-blue-grey w3-shadow w3-margin-top w3-display-bottommiddle w3-card-2" href="#/display">Home</a>